body {
  background-color: black;
  overflow: hidden;
}

#keyboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

#keyboard img {
  position: relative;
  top: 0px;
  right: 10px;
}
